@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-balance {
    text-wrap: balance;
  }
  .line {
    @apply relative after:absolute after:inset-x-0 after:top-1/2 after:-translate-y-1/2 after:h-[3px] after:bg-zinc-950 after:mt-px;
  }
}

.hero-animation {
  animation: hero ease-out forwards;
  animation-timeline: view();
  animation-range: exit;
  transform-origin: center 50px 200px;
}

@keyframes hero {
  100% {
    opacity: 0;
    scale: 1.25;
  }
}

.hero-text-animation {
  animation: hero-text ease-out forwards;
  animation-timeline: view();
  animation-range: exit -5%;
}

@keyframes hero-text {
  100% {
    opacity: 0;
    scale: 0.75;
  }
}

.hero-vinyl-animation {
  animation: hero-vinyl ease-out forwards;
  animation-timeline: view();
  animation-range: entry 50% exit 75%;
  opacity: 0;
  scale: 0.75;
}

@keyframes hero-vinyl {
  25%,
  75% {
    opacity: 1;
    scale: 1;
  }
  0,
  100% {
    opacity: 0;
    scale: 0.75;
  }
}

.hero-prohire-animation {
  animation: hero-prohire ease-out forwards;
  animation-timeline: view();
  animation-range: entry 50% exit 75%;
  opacity: 0;
  scale: 0.75;
}

@keyframes hero-prohire {
  25%,
  75% {
    opacity: 1;
    scale: 1;
  }
  0,
  100% {
    opacity: 0;
    scale: 0.75;
  }
}

.move-left-animation {
  animation: move-left ease-out forwards;
  animation-timeline: view();
  animation-range: entry 50% exit 100%;
  opacity: 0;
}

@keyframes move-left {
  25%,
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  0,
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
